.contents {
  padding: 0 20%;
}
@media screen and (max-width: 700px) {
  .contents {
    padding: 0 20px;
  }
}
.finish-button {
  font-size: 15px;
  font-weight: 500;
  border-style: none;
  color: white;
  background-color: black;
  padding: 5px 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 20px;
}
.schedule-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  padding: 5px 0;
  margin: 10px 0;
}
#schedule-content {
  outline: none;
  background: transparent;
  border-style: none;
  width: 100%;
}
.add-button {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
}
.time-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.time-title {
  font-weight: 500;
}
.time-input {
  border: solid black 1px;
}
.post-schedule {
  margin: 10px 0;
  display: flex;
}
.schedule-time {
  font-weight: 500;
}
.schedule-content {
  margin-left: 10px;
}
