@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  font-family: Pretendard;
}
a {
  text-decoration: none;
}
.header a {
  color: black;
  font-weight: 600;
  padding: 30px 20px;
  font-size: 18px;
}
.header a:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
}
.header {
  display: flex;
}
.title {
  padding-left: 22px;
}
@media screen and (max-width: 700px) {
  .title {
    padding-bottom: 10px;
  }
  .header-wrapper {
    display: grid;
  }
  .header a {
    padding: 0 12px 0 0;
  }
  .title {
    padding-left: 0px;
  }
}
.contents {
  padding: 0 15%;
  margin-bottom: 15%;
}
@media screen and (max-width: 600px) {
  .contents {
    padding: 0 22px;
    margin-bottom: 30%;
  }
  .title {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
#search-input-wrapper {
  display: none;
  border: 1px solid black;
  padding: 3px 0;
  padding-left: 7px;
}
.search-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-input {
  outline: none;
  background: transparent;
  border-style: none;
}
.search-button {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
}
.search-icon {
  width: 20px;
  padding-top: 2px;
}
.schedule-delete {
  margin-left: 3px;
}
