<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/addSchedule.css"
    />
  </head>
  <body>
    {% include 'header.html' %}
    <div class="contents">
      <form method="POST" action="{% url 'createSchedule' post.id %}">
        {% csrf_token %}
        <input type="hidden" value="{{post.id}}" name="id" />
        <div class="time-container">
          <div class="time-title">시작 시간</div>
          <div class="time-title">종료 시간</div>
          <input type="time" name="start_time" class="time-input" />
          <input type="time" name="end_time" class="time-input" />
        </div>
        <div class="schedule-content-container">
          <input type="text" name="contents" id="schedule-content" />
          <button class="add-button" type="submit">
            <img src="../static/image/add-button.svg" class="search-icon" />
          </button>
        </div>
      </form>
      {% for schedule in schedules.all %}
      <div class="post-schedule">
        <div class="schedule-time">
          <input type="hidden" value="{{post.id}}" name="id" />
          {{schedule.start_time|time:"g:i A"}} - {{schedule.end_time|time:"g:i
          A"}}
        </div>
        <div class="schedule-content">
          {{schedule.contents}}
          <a href="{% url 'deleteNewSchedule' post.id schedule.id %}"
            ><img
              src="../static/image/schedule-delete.svg"
              class="schedule-delete"
          /></a>
        </div>
      </div>
      {% endfor %}
      <a href="{% url 'postDetail' post.id %}"
        ><button class="finish-button">완료</button></a
      >
    </div>
  </body>
</html>
