<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/editPost.css" />
  </head>
  <body>
    {% include 'header.html' %} 
  </div>   
    <div class="contents">
      <form method="POST" action="{% url 'updateSchedule' post.id %}">
        {% csrf_token %}
        <input type="hidden" value="{{post.id}}" name="id" />
        <div class="time-container">
          <div class="time-title">시작 시간</div>
          <div class="time-title">종료 시간</div>
          <input type="time" name="start_time" class="time-input" />
          <input type="time" name="end_time" class="time-input" />
        </div>
        <div class="schedule-content-container">
          <input type="text" name="contents" id="schedule-content" />
          <button class="add-button" type="submit">
            <img src="../static/image/add-button.svg" class="search-icon" />
          </button>
        </div>
      </form>

      {% for schedule in schedules.all %}
      <div class="post-schedule">
        <div class="schedule-time">
          <input type="hidden" value="{{post.id}}" name="id" />
          {{schedule.start_time|time:"g:i A"}} - {{schedule.end_time|time:"g:i A"}}
        </div>
        <div class="schedule-content">
          {{schedule.contents}}
          <a href="{% url 'deleteSchedule' post.id schedule.id %}"
            ><img
              src="../static/image/schedule-delete.svg"
              class="schedule-delete"
          /></a>
        </div>
      </div>
      {% endfor %}

      <form action="{%url 'updatePost' post.id %}" method="post">
        {%csrf_token%}
        <div class="input-title">제목</div>
        <input
          class="post-input"
          type="text"
          name="title"
          value="{{post.title}}"
        />
        <div class="input-title">본문</div>
        <textarea class="post-input" name="body" rows="5">
{{post.body}}</textarea
        >
        <div>해시태그</div>
        {% for hashtag in hashtags.all %}#{{hashtag}} {% endfor %}
        <!--<input class="form-control" type="text" name="hashtags" value="{% for hashtag in hashtags.all %}#{{hashtag}} {% endfor %}"-->
        <input type="file" name="image" class="image-button" />
        <button class="finish-button" type="submit">완료</button>
      </form>
    </div>
  </body>
  <script src="../static/js/common.js"></script>
</html>
