<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DayOff</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=2)" />
  </head>
  <body>
    {% include 'header.html' %}
    <div class="contents">
      <div class="post-container">
        {% for post in page_posts %}
        <a href="{% url 'postDetail' post.id %}">
          <div class="post-wrapper">
            {% if post.image %}
            <img class="post-image" src="{{ post.image.url }}" />
            {% endif %}
            <div class="post-text">
              <div class="post-title">{{post.title}}</div>
              <div class="post-pub-date">{{post.pub_date|date:"Y-m-d"}}</div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
      <div class="pagination">
        {% if page_posts.has_previous %}
        <a href="?page=1">이전</a>
        {% endif %}{% for page in page_posts.paginator.page_range %}
          <span {% if page == page_posts.number %} class="page_active" {% endif %}>
            <a href="?page={{page}}">{{page}}</a>
          </span>
        {% endfor %}{% if page_posts.has_next %}
        <a href="?page={{page_posts.paginator.num_pages}}">다음</a>
        {% endif %}
      </div>
    </div>
  </body>
  <script src="../static/js/common.js"></script>
</html>
