<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <script type="text/javascript">
        function showSearch() {
            const con=document.getElementById("searchInput")
            if(con.style.display == "none"){
                con.style.display="block";
            }else{
                con.style.display="none";
            }
        }
    </script>
</head>
<body>
    <div class="header-wrapper">
        <div class="title">PROJECT</div>
    <div id="searchInput">
    <form method='POST' action='{% url 'hashtagFilter' %}'>
        {% csrf_token %}
        <input type="text" name="keyword" placeholder="해시태그 검색하기">
        <button class="button" type="submit">검색</button>
    </form>
    </div>
        <div class="header">    
            <a class="search" onclick="showSearch();">Search</a>
            <a href="{% url 'home' %}" class="archieve">Archieve</a>
            {% if not user.is_authenticated %}
            <a class="auth" href="{% url 'login' %}">Login</a>
            {% endif %}
            {% if user.is_authenticated %}
            <a href="{% url 'mypage' %}" class="mypage">My Page</a></>
            <a href="{% url 'logout' %}" class="auth">Logout</button></a>
            {% endif %}           
        </div>    
    </div>        

    <div class="contents">
  {% if not user.is_authenticated %}
    <a href="{% url 'login' %}"><button class="new-post-button">기록하기</button></a>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'newPost' %}"><button class="new-post-button">기록하기</button></a>
    {% endif %}  

    <div class="post-container">
    {% for post in posts.all %}
    <a href="{% url 'postDetail' post.id %}">
    <div class="post-wrapper">
        {% if post.image %}
        <img class="post-image" src="{{ post.image.url }}">
        {% endif %}
        <div class="post-text">
            <div class="post-title">{{post.title}}</div>
            <div class="post-pub-date">{{post.pub_date}}</div>
        </div>   
    </div>
    </a>
    {% endfor %}
    </div> 
    </div>       
</body>
</html>