<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="header-wrapper">
      <img src="../static/image/title.svg" class="title"/>
  <div id="search-input-wrapper">
  <form method='POST' action='{% url 'hashtagFilter' %}'>
      <div class="search-input-container">
      {% csrf_token %}
      <input class="search-input" type="text" name="keyword" placeholder="해시태그 검색하기">
      <button  class="search-button" type="submit"><img src="../static/image/icon-search.png" class="search-icon"/></button>
      </div>
  </form>
  </div>
      <div class="header">    
          <a class="search" onclick="showSearch();">Search</a>
          <a href="{% url 'home' %}" class="archieve">Archive</a>
          {% if not user.is_authenticated %}
          <a class="auth" href="{% url 'login' %}">Login</a>
          {% endif %}
          {% if user.is_authenticated %}
          <a href="{% url 'mypage' %}" class="mypage">My Page</a></>
          <a href="{% url 'logout' %}" class="auth">Logout</button></a>
          {% endif %}           
      </div>    
  </div>   
    <div class="contents">
      <form method="post" action="{% url 'login' %}" class="login-form">
        {%csrf_token%}
        <h3 class="sub-title">로그인</h3>
        <div class="form-group">
          <div>아이디</div>
          <input
            class="form-control"
            name="{{ form.username.html_name }}"
            type="text"
          />
        </div>
        <div class="form-group">
          <div>비밀번호</div>
          <input
            class="form-control"
            name="{{ form.password.html_name }}"
            type="password"
          />
        </div>
        <div class="button-area">
          <button type="submit" class="button">로그인</button>
        </div>
        </form>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      <a href="{% url 'signup' %}" class="button-area"
        ><button class="button">회원가입</button></a
      >
    </div>
  </body>
</html>
