<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/mypage.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=2)" />
  </head>
  <body>
    {% include 'header.html' %}
    <div class="contents">
      <h3 class="sub-title">{{user.nickname}}님 반가워요!</h3>
      <div class="button-wrapper">
        <a href="{% url 'mypage' %}"
          ><button class="active-button">RECORDS</button></a
        >
        <a href="{% url 'mypageBookmark' %}"
          ><button class="disabled-button">BOOKMARKS</button></a
        >
      </div>
      <div class="post-list">
        {% for post in posts.all %}
        <div class="post-wrapper">
          <a
            href="{% url 'postDetail' post.id %}"
            style="text-decoration: none; color: black"
          >
            <div class="post-image-background">
              {% if post.image %}
              <img class="post-image" src="{{ post.image.url }}" />
              {% endif %}
            </div>
            <div class="post-text">
              <div class="post-title">{{post.title}}</div>
              <div class="post-pub-date" style="color: #575757">
                {{post.pub_date|date:"Y-m-d"}}
              </div>
              <div class="post-body">{{post.summary}} ...</div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
  <script src="../static/js/common.js"></script>
</html>
