<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/newPost.css" />
  </head>
  <body>
    {% include 'header.html' %}
    <div class="newpost-contents">
      <form
        action="{% url 'createPost' %}"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="input-title">제목</div>
        <input class="form-control" type="text" name="title" />
        <div class="input-title">본문</div>
        <textarea class="form-control" name="body" rows="7">
{{post.body}}</textarea
        >

        <div class="input-title">해시태그</div>
        <input class="form-control" type="text" name="hashtags" />

        <input type="file" name="image" class="image-button" />
        <button type="submit" class="schedule-button">일정 추가하기</button>
      </form>
    </div>
  </body>
  <script src="../static/js/common.js"></script>
</html>
