<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/postDetail.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
  </head>
  <body>
    {% include 'header.html' %}
    <div class="contents">
      {% if post.image %}
      <img src="{{ post.image.url }}" class="background-image" />
      {% endif %}
      <div class="post-title">
        {{post.title}} {% if user.is_authenticated and user == post.author %}
        <div class="empty"></div>
        <div>
          <a href="{% url 'editPost' post.id %}" style="color: black"
            ><button id="control-button">EDIT</button></a
          >
          <a href="{% url 'deletePost' post.id%}" style="color: black"
            ><button id="control-button">DELETE</button></a
          >
        </div>
        {% else %}
        <div id="{{post.id}}" onclick="post_bookmark(this.id)">
          {% if user in bookmarks.all %}
          <img
            src="../static/image/bookmark-filled.svg"
            id="bookmark-icon-filled"
            style="display: block"
          />
          <img
            src="../static/image/bookmark-empty.svg"
            id="bookmark-icon-empty"
            style="display: none"
          />
          {% else %}
          <img
            src="../static/image/bookmark-empty.svg"
            id="bookmark-icon-empty"
            style="display: block"
          />
          <img
            src="../static/image/bookmark-filled.svg"
            id="bookmark-icon-filled"
            style="display: none"
          />{% endif %}
        </div>
        {% endif %}
      </div>
      <div class="post-pub-date">{{post.pub_date|date:"Y-m-d"}}</div>
      <div class="post-author">{{post.author.nickname}}</div>
      <div class="post-schedule">
        {% for schedule in schedules.all %}
        <div class="schedule-time">
          <div class="schedule-dot"></div>
          {{schedule.start_time|time:"g:i A"}} - {{schedule.end_time|time:"g:i
          A"}}
        </div>
        <div class="schedule-content">{{schedule.contents}}</div>
        {% endfor %}
      </div>
      <div class="post-body">{{post.body}}</div>
      <div class="post-hashtag" style="font-size: 18px">
        {% for hashtag in hashtags.all %} #{{hashtag}} {% endfor %}
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      function post_bookmark(id) {
        $.ajax({
          url: "{%url 'bookmark'%}",
          data: {
            post_id: id,
          },
          dataType: "json",
          success: function (response) {
            if ($("#bookmark-icon-filled").css("display") === "none") {
              $("#bookmark-icon-empty").hide();
              $("#bookmark-icon-filled").show();
            } else {
              $("#bookmark-icon-filled").hide();
              $("#bookmark-icon-empty").show();
            }
          },
        });
      }
    </script>
  </body>
  <script src="../static/js/common.js"></script>
</html>
